.Header {
    margin: 20px 40px 40px 40px;
    display: flex;
    flex-flow: column wrap;

}
.navlinkLogo {
    text-decoration: none;

}
.logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    
}
.logoImg {
    width: 235px;
    height: 215px;
    
}
.logoTitle {
    font-family: 'Vezitsa';
    font-style: normal;
    font-weight: 400;
    font-size:  27px;
    width: 70%;
    color: #2DA583;

}
.orangeLine{
    width: 100%;
    height: 6px;
    background: #DF6033;
    border-radius: 20px;
}
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    align-items: center;
    height: min-content;
    
}

.menuItem {
    font-family: 'Vezitsa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}
.active {
    color: #DF6033;
    font-family: 'Vezitsa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}
.line{
    width: 100%;
}