.footer{
    display: flex;
    flex-flow: column nowrap;
    background: #545151;
}
.logoes{
    display: flex;
    flex-flow: wrap row;
    text-align: center;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}
.logoOmsk{
    width: 336px;
    height: 153px;
    
}
.logoRussia{
    width: 476px;
    height: 153px;
}
.copyright{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.copyrightText{
    margin: 5px 0 0 0 ;
    font-family: 'Vezitsa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
}